.body {
    --color-main: #457b9d;
    --color-light: #a8dadc;
    --color-dark: #1d3557;
    --color-background: #f8f8f8;
    --color-contrast: #e63946;
    --color-divided: #f8f8f8;
    
    --color-border: var(--color-background);
    --color-shadow: #F8F8F8;
    
    font-size: 35rpx;
    letter-spacing: .2em;
}

.withTabBar {
    padding-bottom: 8vh;
}

tabBar {
        z-index: 999;
}

.borderTop {
    border-top: .1em var(--color-border) solid;
}

.borderRight {
    border-right: .1em var(--color-border) solid;
}

.shadow {
    box-shadow: 0 0 .2em .1em #F8F8F8;
}

.card {
    width: 92vw;
    border-radius: .3em;
    box-shadow: 0 0 .2em .1em var(--color-shadow);
    
    margin: 1em 4vw 1em 4vw;
}